{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container">
		{% include "home/hero.html.twig" %}
		{% include "home/products.html.twig" %}
	</div>
{% endblock %}
