{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}

{% block body %}
	<div class="container px-4 px-lg-5 mt-5">
    <h1>{{category.title}}</h1>
		<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
			{% include "_partials/_card.html.twig" %}
		</div>
	</div>
{% endblock %}
